#homepage {
    background-color: #222222;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
}

#self-intro {
    width: 50%;
    height: 100%;
    position: relative;
}

#self-intro-name {
    width: 100%;
    color: white;

    position: absolute;
    left: 25%;
    top: 60%;
    transform: translate(0, -100%);

    font-family: sans-serif;
    font-size: 70px;
    font-weight: 700;
    text-align: left;
}

#self-intro-role {
    width: 60%;
    color: #A7A2A8;
    position: absolute;
    left: 30.5%;
    top: 63%;
    font-family: sans-serif;
    font-size: 23px;
    font-weight: 300;
    text-align: left;
}

#self-intro-role-1 {
    position: relative;
    left: -9%;
}

#self-intro-role-2 {
    position: relative;
    margin-top: 5px;
    left: 2%;
}

#self-intro .icon-row {
    position: absolute;
    left: 25.5%;
    top: 76%;
    width: 150px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link-icon {
    width: 30px;
    height: 30px;
}

#selfie {
    width: 50%;
    height: 100%;
}

#selfie img {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    position: relative;
    left: 20%;
    top: 58%;
    transform: translate(-50%, -50%);
}