/* Your SCSS here. */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    background-color: #222222;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    width: 100vw;
    position: relative;
}

.section-title {
    width: 100vw;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
}

.inline-link {
    color: blue;
}

#life {
    padding-top: 70px;
    background-color: #F1F5F8;
    width: 100vw;
    height: 90vh;
    padding-bottom: 70px;
}

#footer {
    background-color: #000000;
    width: 100vw;
    height: 15vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#footer .icon-row {
    margin-top: 23px;
    margin-bottom: 5px;
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright {
    color: white;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 18px;

    text-align: center;
    margin-top: 8px;
}