#banner {
    position: fixed;
    z-index: 9000;
    width: 100vw;
    height: 80px;
    background-color: gray;
}

#banner-smaller {
    position: fixed;
    z-index:9000;
    width: 100vw;
    height: 55px;
    background-color: gray;
}

#banner #navbar {
    width: 40%;
    position: relative;
    left: 56%;
    top: 50%;
    transform: translateY(-50%);

    color: white;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 24px;

    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}

#banner-smaller #navbar {
    width: 40%;
    position: relative;
    left: 56%;
    top: 50%;
    transform: translateY(-50%);

    color: white;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 20px;

    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}

#navbar .nav-section {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
}

#navbar .nav-section.active {
    background-color: black;
    border-radius: 7px;
    box-shadow: 8px 8px 3px rgba(0, 0, 0, 0.3);
}